
/*sec 01*/
.cl-h-sec01 {
    background: linear-gradient(180deg, rgba(255, 234, 210, 0.7) 38.81%, rgba(255, 234, 210, 0) 100%);
}

.cl-sec04 {
    background: linear-gradient(90deg, #153B71 0%, #2461B7 52%, #153B71 100%);
}

    .cl-sec04 .h-sec4-info {
        display: block;
        align-items: center;
        align-content: center;
        margin: 25px 0;
    }

        .cl-sec04 .h-sec4-info h4 {
            font-family: Inter;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #FFFFFF;
        }

        .cl-sec04 .h-sec4-info p {
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #FFFFFF;
        }

.h-sec4-form {
    align-content: center;
}


.cl-body-bg {
    background: url(../images/bg_dich_vu.png) #fff no-repeat;
    background-position: -250px -120px;
}


.cl-sec01 {
    padding: 45px 90px;
    max-width: 80%;
}

    .cl-sec01 .cl-title {
        font-family: Inter;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #1C4F97;
    }

    .cl-sec01 .cl-desc {
        padding: 0px 0 20px;
    }

        .cl-sec01 .cl-desc p {
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #000;
            margin-bottom: unset;
            padding: 0px 0px 30px 0px !important;
            border-bottom: 1px solid #00000033;
        }

.cl-panel-list {
    padding-bottom: 50px;
}

.cl-panel-body {
    background: #FFFFFF66;
    gap: 24px;
    padding: 32px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.cl-panel-footer {
    background: linear-gradient(176.64deg, #F5EEE4 2.09%, #EADBC7 96.56%);
    gap: 30px;
    padding: 32px 40px 10px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}

.cl-pl-item {
    background: #FFFFFF80;
    gap: 30px;
    border-radius: 24px;
    border-width: 1px;
    padding: 28px 40px;
    margin: 10px 0;
}

.cl-img {
    justify-items: center;
    align-items: center;
    align-content: center;
}

.cl-ct-info {
    align-content: center;
}

.cl-info {
}

    .cl-info h4 {
        font-family: Inter;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #1C4F97;
        text-align: center;
        margin-bottom: 23px;
    }

.ul-info {
    list-style: disc;
    margin: 0;
    padding: 0 38px;
}

    .ul-info li {
    }

/*Tin tuc*/

.cl-news .cl-img-left, .cl-form-left {
    margin: 20px 0;
}

    .cl-news .cl-img-left > div {
        padding: 0;
    }

.cl-news .cl-form-left {
    border-radius: 16px;
    padding: 16px;
    background: #EADBC7;
}

    .cl-news .cl-form-left h3 {
        font-family: Inter;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #A97D42;
    }

    .cl-news .cl-form-left p {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }


.cl-item-new {
    justify-content: space-between;
    border-radius: 16px;
    padding: 16px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

    .cl-item-new .dv-img{
        flex:none;

    }
    .cl-item-new .dv-info {
        flex:auto
    }
        .cl-item-new .dv-info h2 {
            font-family: Inter;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            vertical-align: middle;
            color: #2D2D2D;
            padding: 10px 0;
            Display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            padding: 1px !important;
            text-align: justify !important;
            margin: 3pt;
        }
p.cl-desc {
    Display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 1px !important;
    text-align: justify !important;
    margin: 3pt;
}

    .cl-item-new .cl-info-date label {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
        color: #BC8B49;
        border-right: 0.5px solid #BC8B49;
        padding: 0 8px 0 0;
    }
    .cl-item-new .cl-info-date i {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        vertical-align: text-top;
        color: #808080;
        padding: 0 0 0 8px;
    }

    .cl-item-new .btn-more {
        text-align: right;
        display: block;
    }

ul.cl-pagging {
    margin: 20px 0 10px 0;
    padding: 0;
    text-align: center;
}
    ul.cl-pagging li:not(.p-first,.p-last) {
        display: inline-flex;
        background: #FFFFFF;
        height: 52px;
        width: 52px;
        border-radius: 30px;
        border-width: 1px;
        /* padding: 16px 24px; */
        justify-items: center;
        border: 1px solid #BC8B49;
        align-items: center;
        vertical-align: middle;
        margin: 10px;
    }
    ul.cl-pagging li a {
        font-family: Inter;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #BC8B49;
        display: inline;
        flex: auto;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    ul.cl-pagging li.p-first, ul.cl-pagging li.p-last {
        display: inline-block;
    }
    ul.cl-pagging li.active, ul.cl-pagging li:hover:not(.p-first,.p-last) {
        background: linear-gradient(180deg, #BC8B49 0%, #966F3A 100%);
    }
        ul.cl-pagging li.active a, ul.cl-pagging li:hover a {
            color: #fff;
        }

    .cl-ct-new-Details {
        border-radius: 16px;
        padding: 16px;
        background: #FFFFFF;
        margin-bottom: 30px;
    }

    .cl-ct-new-Details .dv-info {
    }
        .cl-ct-new-Details .dv-info h4 {
            font-family: Inter;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            vertical-align: middle;
            color: #000000;
        }
        .cl-ct-new-Details .dv-info .cl-info-date {
        }
            .cl-ct-new-Details .dv-info .cl-info-date label {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                vertical-align: middle;
                color: #BC8B49;
                border-right: 0.5px solid #BC8B49;
                padding: 0 10px 0 0;
            }
            .cl-ct-new-Details .dv-info .cl-info-date i {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                vertical-align: middle;
                color: #808080;
                padding: 0 0 0 8px;
            }

    .cl-ct-new-Details .dv-desc p {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        vertical-align: middle;
        color: #000000;
    }
    .cl-ct-new-Details .dv-desc ul {
        list-style: disc;
    }
        .cl-ct-new-Details .dv-desc ul li {
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }

        .cl-ct-new-Details .dv-desc ul.ul-lst-num {
            list-style:decimal;
        }